* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000ee;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --bright-green: #00ff41;
}

#homeContainer {
  background-color: #121212;
  color: white;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  min-height: 100vh;
  z-index: -1;
}

#loginContainer {
  font-family: "Press Start 2P", cursive;
  padding-top: 9rem;
}

#homeTitle {
  font-size: 100px;
  color: var(--bright-green);
}

.homeBody {
  padding-top: 9rem;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

